/* GENERAL */
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    font-size: 16px;
}

#main {
    margin-left: 10%;
    padding: 20px 20px;
}

h2 {
    border-bottom: #4CAF50 solid 2px;
}

/* NAV */

#title {
    text-align: center;
    font: bold 20px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: hidden;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #555;
    color: white;
}

/* PRODUCTS */

#productImage {
    width: 40%;
}

table {
    border-collapse: collapse;
    width: 25%;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

input[type=input] {
    border: none;
    color: black;
    background-color: #f1f1f1;
    padding: 10px 16px
}

input[type=input]:focus {
    background-color: #99cc99;
    outline: 0;
}

input[type=input]:visited {
    background-color: #f1f1f1;
}

input[type=submit] {
    background-color: transparent;
    color: black;
    border: 2px solid #4CAF50;
    text-align: center;
    text-decoration: none;
    padding: 10px 16px;
    cursor: pointer;
    margin: 4px;
}

input[type=submit]:focus {
    background-color: #99cc99;
    outline: 0;
}

#price {
    font-weight: bold;
}